:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f3f0f0;
  user-select: none;
  border-image:round;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
}

body {
  margin: 0px;
}

.title-bar {
  background-color: rgb(28, 28, 32);
  color: white;
  padding: 7px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.close-button {
  background-color: rgb(46, 41, 41);
  border-radius: 3px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}